# OS
.DS_Store

# Editors
.idea/
.vscode/

# PHP / Laravel package
vendor/
composer.lock
.phpunit.result.cache
.php_cs.cache
.php-cs-fixer.cache
.env
.env.*
phpunit.xml

# Node
node_modules/
npm-debug.log*
pnpm-debug.log*
yarn-error.log

# Coverage / reports
coverage/
.clover.xml
.phpunit.cache

# Misc
*.log